<!DOCTYPE html>
<html>
  <head>
    <title>Flatten The Curve</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <%= render  "layouts/alerts" %>
    <%= yield %>
    <div>
      <p><b><%= link_to  "Flatten The Curve Home Page", root_path %></b><p>

      <%= render  "tasks" if controller.controller_name == "tasks_controller" %>

    <div> 
  </body>
</html>
